<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="width: 100%; height: 100%;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- This will be the subject of the mail -->
    <title>Updates from Zhishi</title>

  </head>

  <body style="font-size: 16px; font-family: 'Avenir', 'Avenir Next', Helvetica; padding: 0; margin: 0; color: #666; width: 100%; height: 100%;">
    <!-- Main table wrapper -->
    <table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%; border-collapse: collapse; background-color: #f3f3f3;" valign="top">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <center>
              
              <!-- Container -->
              <table width="680" style="padding: 20px;">
                <tbody>
                  <tr>
                    <td style="background-color: #fff; display: block; padding: 25px; min-height:450px;">
                      <!-- Header -->
                      <table align="center" valign="top" style="border-collapse: collapse; margin-bottom: 15px;">
                        <tbody>
                          <tr>

                            <th bgcolor="#225be2">
                              
                              <table>
                                <tbody>
                                  <tr>
                                  <!-- Logo -->
                                    <th width="274" style="padding-right: 16px; padding-left: 16px;">
                                      <table>
                                        <tbody>
                                          <tr>
                                            <th>
                                              <a href="http://zhishi.herokuapp.com">
                                                <img src="http://i.imgur.com/SqBTpX4.png" alt="Logo" width="120" height="59.52" />
                                              </a>
                                            </th>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </th>
                                    <!-- Logo -->

                                    <!-- Header content -->
                                    <th width="274" style="padding-right: 16px; padding-left: 16px;">
                                      <table>
                                        <tbody>
                                          <tr>
                                            <th width="300">
                                              <h3 style="color: #fff; font-weight: 100; text-align: right; font-size: 24px">
                                                Weekly Update
                                                <small style="display: block; font-size: 12px;">
                                                  Your tailored content
                                                </small>
                                              </h3>
                                            </th>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </th>
                                    <!-- Header content -->

                                  </tr>
                                </tbody>
                              </table>

                            </th>

                          </tr>
                        </tbody>
                      </table>
                      <!-- Header -->

                    <% mail_questions.each do |question| %>
                      <table style="border-bottom: 1px solid #eee; padding: 15px; padding-bottom: 35px;">
                        <tbody style="min-height: 450px;">
                          <tr>
                            
                            <th width="80" valign="top">
                              <table>
                                <tbody>
                                  <tr>
                                    <th>
                                      <!-- User's profile image -->
                                      <img src="http://placehold.it/30?text=profile" alt="" width="30" />

                                      <!-- User's name goes here -->
                                      <span style="display: block; font-size: 7px; font-weight: normal; padding-top: 10px;">
                                        <%= question.asked_by %>
                                      </span>
                                    </th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>

                            <th width="450" valign="top">
                              <table>
                                <tbody>
                                  <tr>
                                    <th style="text-align: left;">
                                      <!-- Question title -->
                                      <a href="#" style="color: #225be2; line-height: 1.3; text-decoration: none; font-weight: normal;">
                                        <%= question.title %>
                                      </a>

                                      <!-- Question asked on: -->
                                      <span style="display: block; font-size: 12px; color: #666; font-weight: normal; padding-top: 10px;">
                                        Asked on <%= question.asked_on %>.
                                      </span>

                                      <!-- Question content -->
                                      <p style="font-size: 14px; font-weight: normal; width: 450px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                                        <%= question.content %>
                                      </p>

                                      <!-- Link to question on zhishi -->
                                      <a href="#" style="font-size: 14px; font-weight: normal; text-decoration: none; color: #fff; background-color: #225be2; padding: 7px 12px; border-radius: 4px;">
                                        Read More
                                      </a>
                                    </th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>

                          </tr>
                        </tbody>
                      </table>
                    <% end %>

                      <!-- Footer section -->
                      <table style="padding: 15px; padding-bottom: 25px;" align="center">
                        <tbody>
                          <tr>
                            <th style="padding-top: 25px;">
                              <a href="#" style="font-weight: normal; font-size: 16px; text-decoration: none; background-color: #225be2; color: #fff; padding: 10px 15px; display: inline-block; margin-bottom: 5px; width: 250px;">
                                Read more in your feed
                              </a>

                              <p style="font-size: 12px; color: #b3b3b3; font-weight: 100; text-align: center;">
                                This email was sent by the andela zhishi team. You can choose emails we send to you through
                                <span style="display: block" style="color: #b3b3b3;">
                                  <a href="#" style="color: #b3b3b3;">
                                    Email Settings
                                  </a>
                                  or
                                  <a href="#" style="color: #b3b3b3;">
                                    Unsubscribe
                                  </a>
                                </span>
                              </p>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                      <!-- Footer section -->

                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- Container -->

            </center>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Main table wrapper -->
  </body>
</html>